@using ShortLinkServicesMvc.Models;
@model List<Link>
@{
    ViewBag.Title = "Home Page";
}
<div class="col-md-12" style="justify-content:center;">
    <div style="margin-top:50px; margin-bottom:50px; margin-left:500px;">
        <button class="btn btn-primary" onclick="Eksilt()" id="btn">Arttır</button>
    </div>
</div>
<div class="row">
    <div class="col-md-11">
        <div class="form-group">
            <label>Lütfen linkinizi giriniz:</label>
            <input class="form-control" id="txtLink" />
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <button style="margin-top:25px" onclick="Kisalt()" class="btn btn-primary">KISALT</button>
        </div>
    </div>
    <div class="col-md-12 text-center">
        Yeni Kısa Linkiniz: <strong id="KisaLinkSonuc"></strong>
        <hr />
        Link Geçmişi <strong id="Mesaj"></strong>
    </div>
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Uzun Link</td>
                    <td>Kısa Link</td>
                </tr>
            </thead>
            <tbody>
                @foreach (Link _link in Model)
                {
                    <tr>
                        <td>@_link.UzunLink</td>
                        <td>https://localhost:44342/D/In?I=@_link.KısaLink</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



@section Scripts{
    <script type="text/javascript">

        function Kisalt() {
            /* alert($("#txtLink").val()); //görmek için*/
            var test = $("#txtLink").val();
            //alert(test);
            var uzunLink = $("#txtLink").val();

            $.ajax({
                type: "POST", //POST
                url: "/Home/LinkKisalt",
                data: "{uzunLink:'" + uzunLink + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result); // inspect te sonuç bildirisini görmek içindir.
                    $("#KisaLinkSonuc").html("https://localhost:44342/D/In?I=" + result);
                },
                error: function (result) {
                    alert(response.d);
                }
            });
            
        }
        function Eksilt() {
            $.ajax({
                type: "POST", //POST
                url: "/D/Art",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    console.log(response); // inspect te sonuç bildirisini görmek içindir.

                },
                error: function (response) {
                    alert(response.d);
                }
            });
        }


    </script>

}